* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    background: url('') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-color: #f5f7fa;
    text-align: center;
    height: 100%;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}
.container img {
    width: 150px;
    margin-left: 20px;
}
.nav-links {
    display: flex;
    gap: 20px;/*...*/
    margin-right: 10px;
}
.nav-links a, .dropdown-content a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}
.nav-links a:hover {
    color: blue;
    text-decoration: underline;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    display: block;
    padding: 12px 16px 12px 10px;
    text-align: left;/* Căn chữ về bên trái */
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
footer {
    border-top: 5px double blue;
    line-height: 50px;
    background-color: white;
    text-align: center;
    font-variant: small-caps;
    width: 100%;
}
article, iframe {
    width: 100vw;
    height: 100vh;
    border: none;
}
.menu-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    flex-wrap: wrap;
}
.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 220px;
    height: 100px;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}
.menu-icon {
    font-size: 30px;
    margin-bottom: 5px;
}
.black { color: black; }
.blue { color: blue; }
.pink { color: #d63384; }
.cyan { color: #17a2b8; }
.green { color: #60c9b1; }